.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.header{
  background-color: gray;
  height: 30px;

}

.header .nav{
  position: relative;
  left: 100px;
}

body, select, input, textarea {  
    color: #444;  
    font-family: Helvetica, Arial, sans-serif; 
    background-color: #E8E8E8;
}  

.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 2px solid orange;
  background-color: skyblue;
  border-radius: 20px;
   
}
th {
  text-align: left;
}

#submit_button {
  background-color: #FF9966;
  border: 1px solid orange;
  border-radius: 10px;
}

li {
  font-size: 12px;
}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}


h1, h2 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}
#click{
  font-size: 10px;
  font-style: italic;
}
