<div class="container">
  <p id='login-ajax'>
    <form id='login-layout' name='login' action='/login' method='post'>
     <h1>Login:   </h1>
     <div>Email:  <input type='text' name='user[email]'></div>
     <div>Password:  <input type='password' name='user[password]'></div>
     <input type = 'submit' value='Log Me In'>
     <br>
   </form>
 </p>

</div>
