<div class="container">
  <p id='tweet'>
    <form id='tweet-layout' name='tweet' action='/tweet' method='post'>
     <h1>Tweet Something:   </h1>
     <div><input type='text' name='tweet' placeholder="Make it cool"></div>
     <input class="regular_button" type = 'submit' value='Submit'>
     <br>
   </form>
 </p>

</div>
